/* Hazem Section Start */

@media screen and (min-width: 992px)  and (max-width: 1199px){
    .blog .post-desc a{
        font-size: 1.24rem;
    }
}

@media screen and (min-width: 768px)  and (max-width: 991px){
    .blog .fix{
        margin-top: 5px;
    }
}

@media screen and (min-width: 576px)  and (max-width: 767px){
    .blog .post{
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 0px)  and (max-width: 575px){
    .blog .post{
        margin-bottom: 1.5rem;
    }
}


.blog{
    background-color: #f5f5f5;
    color: #4e4e4e;
}

.blog h1, .blog h2, .blog h3, .blog h5, .blog h6{
    color: #1e1e1e;
}

.blog ul, .blog ol{
    padding-left: 0;
    list-style: none;
}

.blog a:hover{
    color: none;
    text-decoration: none;
}

.blog .title-box{
    margin-bottom: 4rem;
}

.blog .title{
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase
}

.blog .title-box p{
    position: relative;
}

.blog .title-box p::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -22px;
    width: 40px;
    height: 5px;
    background-color: #0078ff;
}

.blog .post{
    background-color: #fff;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.blog .post-overlay{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 6px 15px;
    overflow: hidden;
    background-color: #0078ff;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: .7rem;
    color: #fff;
}

.blog .post-desc{
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
}

.blog .post-desc a{
    color: #1e1e1e;
    font-size: 1.3rem;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

.blog .post-desc a:hover{
    color: #0078ff;
}

.blog .post-footer .row{
    margin: 0;
}

.blog .foot-cont{
    border: 1px solid rgba(0,0,0,.125);
    background-color: rgba(0,0,0,.03);
    padding: .75rem 1rem;
}

.blog .foot-cont .anch{
    color: #1e1e1e;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

.blog .foot-cont .anch:hover{
    color: #0078ff;
}

.blog .foot-cont .foot-img{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.blog .foot-cont .col-3, .blog .foot-cont .col-8{
    padding: 0;
}

/* Hazem Section End */



/* Ezz Section start */


body {
    font-family: 'segoe ui light';
}

.item {
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.item-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.item:hover .item-desc {
    opacity: 1;
}

#lightboxContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
}

#lightboxBg{
    position: absolute;
    z-index: 0;
    width: 100% !important;
    height: 100%;
}

#lightboxitem {
    position: relative;
    background-image: url(../img/portfolio/1.jpg);
    background-size: 100% 100%;
    width: 40%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    z-index: 50;
}

#close {
    position: absolute;
    top: 20px;
    right: 25px;
}
#lightboxitem i {
    font-size: 22px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
#lightboxitem i:hover{
    color: red;
    font-size: 25px;
}



/* Ezz Section End */




/* Assem Section Start */

.my-p
{
    font-size: 40px;
    font-weight: 700;
}
.svgDiv
{
    width: 100%;
    background-color: #0099FF;
    background: linear-gradient(90deg , #0099FF , #ddd);
}
.svgDiv img
{
    height: 60vh;
}

/* Assem Section End */

/* Essam Section Start */
.cont2
{
    position: relative;
}
.cont2 p
{
    padding-bottom: 20px;
}
.cont2::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 48%;
    right: 48%;
    border: 2px solid #0078ff;
    
}

.cont2 h3
{
    font-size: 3rem;
    font-weight: bold;

}


.brdr
{
    border: 10px solid #f5f5f5;
    padding: 50px 30px;
    border-radius: 30px;
}
.brdr i
{
    height: 120px;
    width: 120px;
    font-size: 2rem;
    border-radius: 100%;
    line-height: 1.5;
    padding-top: 25px;
    border: 10px solid  #0078ff;
    transition: 0.5s;
   
}
.brdr i:hover
{
    border: 8px solid lightblue;
    background-color: #0078ff;
    color: white;
}

.brdr h2
{
    font-size: 22;
    color: #1e1e1e;
    padding: 10px 0px;
    font-weight: 600;
}
.brdr p
{
    color: #4e4e4e;
    font-weight: 400;
    line-height: 1.5;
    font-size:16 ;
}
/* Essam Section End */



/* Seif Section start */


.section5
{
    background-color: #f5f5f5;
}
.section5 .bg-white .space
{
	display: flex;
	justify-content: space-between;
}
.section5 h1
{
    font-size: 3rem;
    font-weight: bold;
    color: #1e1e1e;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.section5 .lorem
{
    color: #4e4e4e;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.section5 .underlineBlue
{
    width: 40px;
    height: 5px;
    background-color: #0078ff;
}
.section5 .container .row .bg-white:hover img
{
    transform: scale(1.3,1.3);
}
.section5 .container .row .bg-white div
{
    overflow: hidden;
}
.section5 .container .row .bg-white div img
{
    transition: 1s;
}
.section5 .container .row .bg-white
{
    overflow: hidden;
}
.w-title
{
    font-size: 1.2rem;
    color: #1e1e1e;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 20px;
	text-transform: capitalize;
}
.category
{
    color: #007bff;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
}
.date
{
    color: #4e4e4e;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
}
.plusIcon
{
    border: 1.2px solid #007bff;
    border-radius: 50%;
    padding: 10px;
    color: #007bff;
	margin-top: 20px;
	margin-right: 15px;
    background-color: white;
}



.grayLayer
{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.grayLayer .background
{
    background-image: url(img1.jpg);
    background-size: cover;
    background-position: center center;
    width: 50%;
    height: 550px;
    position: relative;
}

.background .previousImage
{
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
}
.portfolioImage
{
    cursor: pointer;
}
.background .nextImage
{
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}
.background .closeLayer
{
    position: absolute;
    right: 3%;
    top: 3%;
}
.background i
{
    cursor: pointer;
}

/* Seif Section end */