/* Hazem Section Start */

.spans{
    color: red;
}

/* Hazem Section End */



/* Assem Section Start */

.my-p
{
    font-size: 40px;
    font-weight: 700;
}
.svgDiv
{
    width: 100%;
    height: 80vh;
    background-color: #0099FF;
    background: linear-gradient(90deg , #0099FF , #ddd);
}
.svgDiv img
{
    height: 60vh;
}

/* Assem Section End */
